body{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    background-color: rgb(13,13,13);
    color: white;
}
p{
    background-color: beige;
}